body {
    background-color: #BC8F8F;
    font-family: Bai Jamjuree;
}

#container {
    display: flex;
}

.cartao {
    margin: 1rem 1rem;
    background-color: #a87070;
    height: 20rem;
    flex: grow 1;
    flex-basis: calc(33% -6rem);
}